.indexPage{
    
}

.banner{
    position: relative;
}

.bannerButton{
    position: absolute;
    top: 70%;
    left: 8%;
}

.bannerText{
    font-style: normal;
    font-weight: bold;
    color: #fffc00;
}

.block{
    background-color: #fff; 
}

.blockTitle{
    /* border-left: 8px solid #ff0090; */
    color: #ff0090;
    font-size: 18px;
    line-height: 24px;
    padding-left: .5em;
    margin:.2em 0;
}

.block > div {
    padding:0 20px;
}

.blockBaby {
    background-color: #fff;
}

.blockComment {
    height: 264px;
    overflow-y: auto;
}



.baby {
    position:relative;
    color: #fff;
}

.babyOverlay{
    background-color: rgba(240, 89, 147, 0.8);
    width: 100%;
    position:absolute;
    bottom: 0px;
}

.babyOverlay p{
    display: inline-block;
    line-height: 0;
    margin: 0 8px;
}
.babyOverlay span{
    float: right;
}
.starAvatar{
    float:left;
    margin:0 2px;
    padding:0 2px;
    height: ;
}

.starForBaby p{
    font-size: 10px;
    line-height: 12px;
    height: 60px;
    position: relative;
    margin-left: 68px;
    overflow: hidden;
}

.starForBaby p:after{
    content: "..."; position: absolute; bottom: 0; right: 3px; padding-left: 12px;
background: -webkit-linear-gradient(left, transparent, #fff 55%);
background: -o-linear-gradient(right, transparent, #fff 55%);
background: -moz-linear-gradient(right, transparent, #fff 55%);
background: linear-gradient(to right, transparent, #fff 55%);
}

.starForBaby p > em {
    font-style: normal;
    font-weight: bold;
    color: #ff0090;
}

.newStar{
    text-align: center;
    color: #555;
}
