.box{
}
.commentTitle{
    font-size: 15px;
    line-height: 15px;
    margin: 0;
    font-weight: bolder;
}

.blockComment {
    height: 264px;
    overflow-y: auto;
}
.colorTitle{
    color: #ff0090;
    font-style: normal;
}