.area{
    margin-top: .3em;
}

.wrapper{
    display: flex;
    margin-bottom: .4em;
}

.title{
    padding: 5px 0;
    padding-right: 5px;
    border-right: 2px solid #ff0090;
    width: 40px;
    margin: auto;
}
.content{
    flex:1;
    margin-left: 12px;
}

.submit{
    width: 80px;
    margin: auto;
}
.affixBox1{
    /* display: box; */
    /* display: -webkit-box; */
    /* display: -moz-box; */
    /* display: -ms-flexbox; */
    /* display: -webkit-flex; */
    display: flex;
    /* -webkit-box-orient: horizontal; */
    /* -webkit-flex-direction: row; */
    /* -moz-flex-direction: row; */
    /* -ms-flex-direction: row; */
    /* -o-flex-direction: row; */
    flex-direction: row;
    background-color: #fff;
    border-bottom: 2px solid  #ff0090;
    padding: 10px 15px;
    justify-content: space-between;
    -webkit-box-shadow:0 0 10px #0CC;  
  -moz-box-shadow:0 0 10px #0CC;  
  box-shadow:0 0 10px #0CC; 
}

.price{
    color: #ff0090;
    font-weight: 500;
    font-size: 20px!important;
}

.price del{
    color: #222;
    text-decoration: line-through!important;
    font-size: 14px!important;
    font-weight: 200;
                                 
}

.daogou{
    
}

.affixBox2{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    
}
.affixItem1{
    flex-shrink: 1;
    font-weight: 300;
    padding: 5px 15px;
    color: #ff0090;
}


.affixItem2{
    flex-grow: 1;
    padding: 5px 15px;
}

.affixItem2 img{
    width: 80px;
}
